<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
    <test name="Test">
        <classes>
            <!--<class name="com.testframework.test.Wallet.Premium.BuyPremiumWithCreditCardTest" />-->
            <!--<class name="com.testframework.test.Wallet.Premium.BuyPremiumWithSkypeCreditTest" />-->
            <!--<class name="com.testframework.test.Wallet.Premium.BuyPremiumWithPayPalTest" />-->
            <class name="com.testframework.test.SampleSite.BoardTest" />
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->